<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Plont</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/materialize-css/bin/materialize.css" />
    <link rel="stylesheet" type="text/css" href="/angular-material/angular-material.min.css" />
    <link rel="stylesheet" type="text/css" href="/angular-multiple-select/build/multiple-select.min.css" />
    <link rel="stylesheet" type="text/css" href="/angular-material-calendar/angular-material-calendar.min.css"/>
    <link rel="stylesheet" type="text/css" href="/style.css" />

    <script src="/lodash/index.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-sanitize/angular-sanitize.js"></script>
    <script src="/materialize-css/bin/materialize.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-aria/angular-aria.js"></script>
    <script src="/angular-filter/dist/angular-filter.min.js"></script>
    <script src="/angular-material/angular-material.js"></script>
    <script src="/angular-material-calendar/angular-material-calendar.min.js"></script>

    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/angular-multiple-select/build/multiple-select.min.js"></script>

    <script src="/main.js"></script>
</head>
<body ng-app="Plont">
    <navbar></navbar>
    <div id="main" ui-view></div>
</body>
</html>
