h1,
h2 {
    text-align: center;
}

#board {
    margin: 0 auto;
    display: table-inline;
    padding: 0;
}

#board td {
    border: 1px solid #e3e3e3;
    padding: 0;
}

#board td:focus {
    outline: none;
}

td.sun {
    background-color: #ffbb5a;
}

td.partial_shade {
    background-color: #b1c27b;
}

td.full_shade {
    background-color: #94a7a1;
}

#legend {
    padding-left: 50px;
}

.sqTable {
    border: 0px;
    width: 100%;
    padding-top: 100%;
    box-sizing: border-box;
    position: relative;
}

.doyouevenlift {
    display: flex;
}

.flexthetable {
    flex-basis: 100%;
}

#control_panel {
    padding-top: 50px;
    margin: 10px auto;
    text-align: center;
}