h1,
h2 {
    text-align: center;
}

#board {
    margin: 0 auto;
    display: table-inline;
    padding: 0;
}

#board td {
    border: 1px solid $borders;
    padding: 0;
}

#board td:focus {
    outline: none;
}

td.sun {
    background-color: $sunmapSun;
}

td.partial_shade {
    background-color: $sunmapPartialShade;
}

td.full_shade {
    background-color: $sunmapFullShade;
}

#sunTable {
    height: 80%;
}

#legend {
    padding-left: 50px;
}

.sqTable {
    border: 0px;
    width: 50%;
    padding-top: 100%;
    box-sizing: border-box;
    position: relative;
}

.doyouevenlift {
    display: flex;
}

#control_panel {
    padding-top: 50px;
    text-align: right;
}
