<section id="plot">
<h1> {{plotName}} </h1>
    <div class="row">
        <div class="col s6 offset-s3">
            <table class="plot">
            	<tr ng-repeat="row in plot">
            		<td class="{{ cell.class }}" ng-repeat="cell in row track by $index"></td>
            	</tr>
            </table>
            <br>
        </div>
        <div class="key-title col s2">
        	<p>Plot Key</p>
        	<table class="key">
        	<th>Color</th><th>Plant</th><th>Amount</th>
        		<tr ng-repeat="infoObj in plantInfoArr">
        			<td class="{{infoObj.class}}"></td>
        			<td>{{infoObj.name}}</td>
                    <td>{{infoObj.numToPlant}}</td>
        		</tr>
        	</table>
        </div>
    </div>
</section>
