<nav>
    <div class="navbar">
        <div class="nav-wrapper">
        <a class="brand-logo">Plont</a>
            <ul id="nav-fixed" class="right hide-on-med-and-down">
                <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
                </li>
                <li ng-show="!user"><a ui-sref="login">Login</a></li>
                <li ng-show="!user"><a ui-sref="signup">Signup</a></li>

                <li ng-show="showAlert && user"><a ng-click="showConfirm()"><i class="material-icons">warning</i></a></li>

                <li ng-hide="!user" ng-click="logout()"><a>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
