<nav>
    <div class="navbar-fixed">
        <div class="nav-wrapper">
            <a ui-sref="home" class="brand-logo">
                Brand logo
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
                </li>
                <li ng-show="!user"><a ui-sref="login">Login</a></li>
                <li ng-show="!user"><a ui-sref="signup">Signup</a></li>
                <li ng-hide="!user" ng-click="logout()"><a>Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
