.welcome {
    padding-top: 30px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

img.responsive-img {
    height: 90%;
    width: auto;
    max-width: 200px;
    max-height: 200px;
}
