h2.hello{
    padding-top: 30px;
}

div .col.s12 .welcome {
    margin-left: 30px;
}

.description {
    display: flex;
    justify-content: space-around;
    text-align: center;
 }

.sign-in {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.row .col.s12 {
    text-align: center;
}

