<container>
    <div class="row"  ng-repeat="plant in plants | groupBy:3">
        <div class="col s4"
            ng-repeat="plant in plants">
            <div class="card-small">
                <div class="card">
                    <img class="plant-img" src="{{plant.image}}">
                    <div class="card-content">
                    <p>{{plant.description}}</p>
                    </div>
                    <div class="card-action">
                        <a ui-sref="plant({id: plant.id})">{{plant.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</container>
