.title {
    text-align: center;
}

.size {
    text-align: center;
}

.by {
    font-size: 28px;
    text-align: center;
}

.toobig {
    font-size: 20px;
}

.label {
    font-size: 16px;
}

select {
    display: inline-block;
    padding: 5px;
    margin: 0;
}

.height {
    max-width: 30%;
}

.bydiv{
    max-width: 20%;
}

.width {
    max-width: 30%;
}
