h1.title {
    width:100%;
}

h4 {
    font-weight: 100;
    text-transform: uppercase;
}

.by {
    font-size: 28px;
    text-align: center;
}

.row.add {
    margin-bottom: 0;
}

#done {
    text-align: right;
    margin-left: -55px;
}

#plot_name {
    width: 50%;
    text-align: center;
    min-width: 200px;
}

#scroll_list {
    height: 200px;
    overflow-y: scroll;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}


.row .col.offset-s1 {
    margin: 0;
}
