h1.title {
    width:100%;
}

h4 {
    font-weight: 100;
    text-transform: uppercase;
}

.row.add {
    margin-bottom: 0;
}

#plot_name {
    width: 50%;
    text-align: center;
    min-width: 200px;
}

#scroll_list {
    height: 10vw;
    overflow-y: auto;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.row .col.offset-s1 {
    margin: 0;
}
