h1.title {
    width:100%;
}

.by {
    font-size: 28px;
    text-align: center;
}


div.row.create {
    display: flex;
    justify-content: space-between;
}

.row.add {
    margin-bottom: 0;
}

#done {
    text-align: right;
    margin-left: -55px;
}

#plot_name {
    width: 50%;
    text-align: center;
    min-width: 200px;
}
