<section id="plots">
    <div class="container">
        <div ng-show="!switch">
            <div class="row bottom_spacing">
                <div class="col s12 bottom_spacing-large">
                    <h1 class="title">Create Your Plot</h1>
                </div>
                <div ng-show="!switch" class="col l11 offset-l3">
                    <input placeholder="Plot Name" id="plot_name" type="text" ng-model="name">
                </div>
            </div>
            <div class="divider bottom_spacing"></div>
            <div class="row">
                <div class="col l6 offset-l3">
                    <h2 class="size">Plot Size?</h2>
                </div>
            </div>
            <div class="row create">
                <div class="col s4">
                    <label class="label">Height:</label>
                        <select class="browser-default" ng-model="heightFeet">
                            <option value="" disabled selected>Height Feet</option>
                            <option ng-repeat="foot in feet">{{ foot }}</option>
                        </select>
                        <select class="browser-default" ng-model="heightInches">
                            <option value="" disabled selected>Height Inches</option>
                            <option ng-repeat="inch in inches">{{ inch }}</option>
                        </select>
                    </div>
                    <div class="col s2 offset-4">
                        <p class="by">X</p>
                    </div>
                    <div class="col s4 offset-8">
                        <label class="label">Width:</label>
                        <select class="browser-default" ng-model="widthFeet">
                            <option value="" disabled selected>Width Feet</option>
                            <option ng-repeat="foot in feet">{{ foot }}</option>
                        </select>
                        <select class="browser-default" ng-model="widthInches">
                            <option value="" disabled selected>Width Inches</option>
                            <option ng-repeat="inch in inches">{{ inch }}</option>
                        </select>
                    </div>
            </div>
            <div class="row">
                <div class="col s4 offset-s9">
                    <a class="waves-effect btn-flat" type="submit" ng-click="createPlot(heightFeet, heightInches, widthFeet, widthInches)"> Done </a>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="switch">
        <div class="row bottom_spacing">
            <div class="col l6 offset-l3">
                <h2 class="title">Which plants do you want to grow?</h2>
                <div class="divider"></div>
            </div>
        </div>
        <div class="row add">
            <label class="col l6 offset-l3"><h4>Add Plants:</h4></label>
        </div>
        <div class="row">
            <div class="input-field col l6 offset-l3">
                <multiple-autocomplete ng-model="selectedPlants" after-select-item="afterSelectItem" after-remove-item="afterRemoveItem" object-property="name" suggestions-arr="optionsList">
                </multiple-autocomplete>
            </div>
            <p ng-show="plantsDontFit">You have selected too many plants!</p>
        </div>
        <div class="row" id="done">
            <div class="col l6 offset-l6">
                <div class="col l6">
                    <button class="waves-effect btn-flat" type="submit" ng-click="createPlantList(selectedPlants)" ui-sref="sunmap"> Done </button>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col s6 offset-l3">
                <p ng-show="largePlants.length"><strong>The following plants are too large to flourish in your plot:</strong></p>
                <ul ng-show="largePlants.length" id= "scroll_list">
                    <li ng-repeat="plant in largePlants">{{ plant.name }}</li>
                </ul>

            </div>
        </div>
    </div>
</section>
