<section id="plots">
    <div class="row">
        <div class="col s6 offset-s4">
            <h1>Create Your Plot</h1>
        </div>
        <form name="plotSize">
            <div class="input-field col s6">
                <label>Height:</label>
                <input type="text" class="form-control" ng-model="plot.height" required placeholder="inches"/>
            </div>
            <p> X </p>
            <div class="input-field col s6">
                <label>Width:</label>
                <input type="text" class="form-control" ng-model="plot.width" required placeholder="inches"/>
            </div>
        </form>
    </div>
</section>
