<form id="login-form" name="loginForm" ng-submit="loginForm.$valid && sendLogin(login)">

    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="text" ng-model="login.email" id="email" class="inputColor form-control" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" ng-model="login.password" id="login-password" class="inputColor form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn-flat">Submit</button>
</form>
