#plot {

    table.plot {
        max-width: 70%;
        border: 2px solid #666666;
        margin: 50px auto;
    }
    table.key {
        max-width: 20%;
        margin: 0 auto;
        border: 2px solid #666666;
        td {
            border-bottom: 1px solid #666666;
        }
    }
    .key-title {
        text-align: center;
        margin: 50px auto;
    }

    td {
        text-align: center;
        width: 10px;
        height: 10px;
    }

    .class1 {
        background-color: #51574a;
    }
    .class2 {
        background-color: #c94a53;
    }
    .class3 {
        background-color: #e2975d;
    }
    .class4 {
        background-color: #9abf88;
    }
    .class5 {
        background-color: #993767;
    }
    .class6 {
        background-color: #9163b6;
    }
    .class7 {
        background-color: #7c9fb0;
    }
    .class8 {
        background-color: #e4bf80;
    }
    .class9 {
        background-color: #5698c4;
    }
    .class10 {
        background-color: #e279a3;
    }
    .no-plant {
        background-color: #65387d;
    }

/*#51574a    #447c69    #74c493
#8e8c6d    #e4bf80    #e9d78e
#e2975d    #f19670    #e16552
#c94a53    #be5168    #a34974
#993767    #65387d    #4e2472
#9163b6    #e279a3    #e0598b
#7c9fb0    #5698c4    #9abf88*/

}
