nav {
    background-color: rgba(165, 214, 167, 0.3);
    box-shadow: none;
    ul a {
        color: #000000;
    }
    .brand-logo {
        padding-left: 20px;
        color: #000000;
        font-weight: 300;
        font-style: italic;
        text-transform:uppercase;
    }
}



