nav {
    background-color: $header;
    box-shadow: none;
    ul a {
        color: $themeWhite;
    }
    .brand-logo {
        padding-left: 20px;
        color: $themeWhite;
        font-weight: 300;
        text-transform:uppercase;
    }
    .material-icons {
        color: $linesFocused;
    }
    li:focus {
        outline:0 !important;
    }
}



