#plot {
	
		table.plot {
			max-width: 60%;
			margin: 50px auto;
			border: 1px solid #666666;
		}

		td {
			text-align: center;
			height: 10px;
			width: 10px;
			text-transform: uppercase;
			font-weight: 300;
		}

		th {
			text-align: center;
			font-family: "Roboto";
			font-weight: 400;
			border-right: 1px solid #666666;
			border-bottom: 1px solid #666666;
			text-transform: uppercase;
		}

		table.key {
			max-width: 20%;
			margin: 0 auto;
			border: 1px solid #666666;
			td {
				border: 1px solid #666666;
				width: 6%;
			}
		}

	.key-title {
		text-align: center;
		margin: 50px auto;
		p {
			font-size: 20px;
			text-transform: uppercase;
			font-weight: 300;
		}
	}


	.class1 {
		background-color: #7c9fb0;
	}
	.class2 {
		background-color: #e4bf80;
	}
	.class3 {
		background-color: #c94a53;
	}
	.class4 {
		background-color: #9abf88;
	}
	.class5 {
		background-color: #993767;
	}
	.class6 {
		background-color: #9163b6;
	}
	.class7 {
		background-color: #51574a;
	}
	.class8 {
		background-color: #e2975d;
	}
	.class9 {
		background-color: #5698c4;
	}
	.class10 {
		background-color: #e279a3;
	}
	.no-plant {
		background-color: #65387d;
	}


}