<section id="user-plots">
    <div class="row">
    	<div class="plot-header">
            <h1>{{user.firstName}}'s plots</h1>
            <button class="btn-flat" ui-sref="create">Create a New Plot</button>
        </div>
    </div>
    <div class="row">
        <div class="divider">
        </div>
    </div>
    <div class="row">
        <div class="plot">
            <div ng-repeat="plot in plots">
                <h1><a ng-click="toPlot(plot.id)">{{plot.name}}</a><a ng-click="removePlot(plot.id, plot.name)"><i class="material-icons">clear</i></a></h1>
            </div>
        </div>
    </div>
</section>
