.single-plant {
    overflow: hidden;
}

// Workaround until `col s10 offset-s1` works -- alternatively un-extrapolate the ui-view column and row
#shadow_div {
    max-width: 60vw;
}

.faux_card {
    max-height: 60vh;
    background-color: $themeWhite;
    padding: 1.5vw 1vw 0vw 0.5vw;
    margins: 0;
}

.faux_content {
    max-height: 45vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.btn-add_plants-more_responsive {
    position: relative;
    top: -1vw;
}

.material-icons {
    position: relative;
    top: -0.5px;
}
