.single-plant {
    overflow: hidden;
    max-height: 70vh;
}

.card-stacked {
    overflow: scroll;
    max-height: 60vh;
}
.card-action {
	margin-bottom: 7vh;
}

.btn-flat.btn-my_plants {
    float: right;
}

.material-icons {
	position: relative;
	top: -1px;
}