$header: #789986;
$selectedTab: #688573;
$buttons: #f2bfb5;

$themeBlack: #121113;
$themeWhite: #fff;

$selected: $buttons;
$hovered: $themeWhite;

$borders: #cfdad5;
$linesUnfocused: $borders;
$linesFocused: #b55451;

$sunmapSun: #ffb75e;
$sunmapPartialShade: #688573;
$sunmapFullShade: #5f5554;

$gridColor0: #bf7995;
$gridColor1: #6cbd94;
$gridColor2: #586627;
$gridColor3: #e18981;
$gridColor4: #596690;
$gridColor5: #e7e9e7;
$gridColor6: #55595b;
$gridColor7: #dfad41;
$gridColor8: #fbd0a2;
$gridColor9: #9fa8a1;

$link-color: color($buttons) !default;