@import 'colors';
@import 'utils.scss';

* {
    box-sizing: border-box;
}

section {
    padding-bottom: 5%;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

#main {
    margin: 0 auto;
    padding-top: 5vh;
}

h1, h2 {
    text-align: center;
    font-weight: 100;
    text-transform:uppercase;
}

hr {
    border: 0;
    border-bottom: 0.1vw solid $borders;
    clear: both;
}

divider {
    clear: both;
}

div.row.create {
    margin-right: 5vw;
}

.md-cancel-button {
    display: none;
}

.plot-header {
    display: flex;
    flex-direction: column;
}

md-dialog.md-dialog-content {
    max-width: 30vw;
}

.layout-column > .flex {
    min-height: 70px;
}

md-card md-card-title {
    display: inline;
    padding: 0;
    button .btn-flat {
        text-align: left;
        margin: auto;
    }
}

#user-plots {
    .btn-flat {
        margin: 0 auto 0 auto;
    }
}

.glyphicon.glyphicon-remove {
    content:url("/images/remove_circle.png");
    max-height: 12px;
    margin-top: 2px;
}

#plots.btn-flat {
    margin-left: 45vw;
}

.btn-flat {
    background-color: $buttons;
}

input:-webkit-autofill {
    background-color: $themeWhite;
}

@import 'about/main';
@import 'tutorial/main';
@import 'navbar/main';
@import 'signup/main';
@import 'create/main';
@import 'plant/main';
@import 'plotview/main';
@import 'sunmap/main';
@import 'users-plants/main';
@import 'user-plots/main';
