@import 'colors';

* {
  box-sizing: border-box;
}

html {
  background-image: url("/images/light_wool.png");
}

body {
  background-image: url("/images/light_wool.png");
  min-height: 100vh;
}

section {
  padding-bottom: 5%;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
  padding-top: 20px;
}

h1, h2 {
    margin-top: 10px;
    text-align: center;
    font-weight: 100;
    text-transform:uppercase;
}

hr {
  border: 0;
  border-top: 1px dotted $themeBlack;
  margin-top: 0px;
  margin-bottom: 16px;
  overflow-x: scroll;
}

div.row.create {
    margin-right: 5%;
}

.md-cancel-button {
  display: none;
}

// for post-presentation styling
// .layout-fill {
// }

.plot-header {
  display: flex;
  flex-direction: column;
}

md-dialog .md-dialog-content {
  max-width: 450px;
}

.layout-column > .flex {
    min-height: 70px;
}

md-card md-card-title {
  display: inline;
  padding: 0;
  button .btn-flat {
    text-align: left;
    margin: auto;
  }
}

#user-plots {
  .btn-flat {
    margin: 0 auto 0 auto;
  }
}

.glyphicon.glyphicon-remove {
  content:url("/images/remove_circle.png");
  max-height: 12px;
  margin-top: 2px;
}

#plots .btn-flat {
  margin-left: 40px;
}

.btn-flat {
  background-color: $buttons;
}

input:-webkit-autofill {
  background-color: $themeWhite;
}

@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'navbar/main';
@import 'signup/main';
@import 'create/main';
@import 'plants/main';
@import 'plant/main';
@import 'plotview/main';
@import 'sunmap/main';
@import 'users-plants/main';
