* {
  box-sizing: border-box;
}

html {
  background-image: url("../images/light_wool.png");
}

body {
  background-image: url("../images/light_wool.png");
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  margin: 0 auto;
  padding-top: 20px;
}

h1, h2 {
    margin-top: 40px;
    text-align: center;
    font-weight: 100;
    text-transform:uppercase;
}

hr {
  border: 0;
  border-top: 1px dotted #000000;
  margin-top: 0px;
  margin-bottom: 16px;
  overflow-x: scroll;
}

.md-cancel-button {
  display: none;
}
// for post-presentation styling
// .layout-fill {
// }

.plot-header {
  display: flex;
  flex-direction: column;
}

md-dialog .md-dialog-content {
  max-width: 450px;
}

table.ngc {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    max-width: 70%;
}

div.ngc.scroll-wrapper {
    display: inline-table;
}


@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'navbar/main';
@import 'signup/main';
@import 'create/main';
@import 'plants/main';
@import 'plant/main';
