#signup-form {
  width: 60%;
  margin: 0 auto;
}

.btn, .btn-large {
    background-color: $buttons;
}

.btn:hover, .btn-large:hover {
    background-color: $buttons;
}

button:focus {
    background-color: $buttons;
}

.col.s6.form-group.left {
    padding-left: 0;
    padding-right: 10px;
}

.col.s6.form-group.right {
    padding-left: 10px;
    padding-right: 0;
}

